* {
  background-color: bisque;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

th, td {
font-size: 15;
border: 3px solid  white;
text-align: center;
}
table {
box-sizing: border-box;
width: 240px;
margin: 0 auto;
}

.modulo, th{
font-size: 10;
text-align: center;
background-color: lightblue;
}

.c{
font-size: 20;
text-align: center;
background-color: khaki;
}

.ta{
text-align: center;
font-size: 20;
background-color: khaki;
}

.md{
background-color: khaki;
font-size: 15;
text-align: center;
}

td.video {
text-align: center;
width: 350px;
}

td.fonte {
width: 100px;
}

input, button {
background-color: plum;
font-size: 15;
}


.ban{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, h2{
background-color: lightblue;
font-size: 25;
text-align: center;
}

.p{

font-size: 10;
text-align: center;
}









