* {

  font-family: 4vw, Arial, sans-serif;
  margin-left:7px;
  margin-right: 5px;
  line-height: 1.6;
  pading: 0;
  letter-spacing: normal;
  justify-content: center;
  background-color: snow white;
  max-width: 400%;
}

th, td {
background-color: lightblue;
font-size: 4vw;
border: 3px solid  khaki;
text-align: center;
}



.modulo{
border: 3px solid  khaki;
font-size: 4vw;
text-align: center;
background-color: lightblue;
}

.tabela{
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.c{
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.ta{
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.md{
border: 3px solid  khaki;
background-color: khaki;
font-size: 4vw;
text-align: justify;
text-align: center;
}

.video{
display: flex; 
text-align: center;
text-align: justify;
align-items: center;
justify-content: center;
}


input, button {
background-color: plum;
font-size: 3vw;
}


.ban{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, h2{
background-color: lightblue;
font-size: 6vw;
text-align: justify;
text-align: center;
}

.p{
background-color: lightblue;
font-size: 4vw;
text-align: justify;

}

.h3{
text-align: justify;
font-style: italic;
font-size: 1vw;
}

.texto{
text-align: justify;
font-size: 4vw;
}

.voltar{
background-color: lightblue;
font-size: 4vw;
text-align: center;
display: block; 
justify-content: center;
}

.nome{
white-space: nowrap;
}
























































