* {
  font-family: 4vw, Arial, sans-serif;
  margin-left:7px;
  margin-right: 5px;
  line-height: 1.6;
  pading: 1px;
  letter-spacing: normal;
  justify-content: center;
  background-color: snow white;
  max-width: 400%;
}

th, td {
pading: 1px;
background-color: lightblue;
font-size: 4vw;
border: 3px solid  khaki;
text-align: center;
}



.modulo{
pading: 1px;
border: 3px solid  khaki;
font-size: 3vw;
text-align: center;
background-color: lightblue;
}

.tabela{
pading: 1px;
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.c{
pading: 1px;
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.ta{
pading: 1px;
border: 3px solid  khaki;
box-sizing: border-box;
margin: 0 auto;
font-size: 6vw;
text-align: justify;
text-align: center;
background-color: khaki;
}

.md{
pading: 1px;
border: 3px solid  khaki;
background-color: khaki;
font-size: 4vw;
text-align: justify;
text-align: center;
}

.video{
pading: 1px;
display: flex; 
text-align: center;
text-align: justify;
align-items: center;
justify-content: center;
}


input, button {
pading: 1px;
background-color: plum;
font-size: 3vw;
}


.ban{
  width: 100%;
  max-width: 100%;
  height: 100%;
  pading: 0;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
}

.h1, h2{
pading: 1px;
background-color: lightblue;
font-size: 6vw;
text-align: justify;
text-align: center;
}

.p{
pading: 1px;
background-color: lightblue;
font-size: 4vw;
text-align: justify;

}

.h3{
pading: 1px;
font-size: 2vw; 
    color: red; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    background-color: khaki; 
    padding: 5px; 
    border: 3px solid khaki; 
    display: inline-block;
}

.texto{
pading: 1px;
text-align: justify;
font-size: 4vw;
}

.voltar{
pading: 1px;
background-color: lightblue;
font-size: 4vw;
text-align: center;
display: block; 
justify-content: center;
}

.nome{
white-space: nowrap;
}































































