* {
  font-family: Arial, sans-serif;
  margin-left:20px;
  line-height: 1.6;
  pading: 20px;
  justify-content: center;
  background-color: bisque;
  max-width: 800px;
  text-align: center;
  text-align: justify;
}

th, td {
background-color: lightblue;
font-size: 15;
border: 3px solid  white;
text-align: center;
}



.modulo{
font-size: 10;
text-align: center;
  text-align: justify;
background-color: lightblue;
}

.tabela{
box-sizing: border-box;
margin: 0 auto;
font-size: 20;
text-align: justify;
text-align: center;
background-color: khaki;
}

.c{
box-sizing: border-box;
margin: 0 auto;
font-size: 20;
text-align: justify;
text-align: center;
background-color: khaki;
}

.ta{
box-sizing: border-box;
margin: 0 auto;
font-size: 20;
text-align: justify;
text-align: center;
background-color: khaki;
}

.md{
background-color: khaki;
font-size: 15;
  text-align: justify;
text-align: center;
}

td.video {
text-align: center;
text-align: justify;
width: 350px;
}


input, button {
background-color: plum;
font-size: 15;
}


.ban{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, h2{
background-color: lightblue;
font-size: 25;
text-align: justify;
text-align: center;
}

.p{
background-color: lightblue;
font-size: 15;
text-align: justify;
text-align: center;
}

.h3{
text-align: center;
text-align: justify;
font-style: italic;
font-size: 2;
}

.texto{
text-align: center;
text-align: justify;
font-size: 10;
}

.voltar{
background-color: lightblue;
font-size: 10;
text-align: center;
display: block; 
justify-content: center;
}





























