* {
  font-family: Arial, sans-serif;
  margin-left:7px;
  margin-right: 7px;
  line-height: 1.6;
  pading: 0;
  letter-spacing: normal;
  justify-content: center;
  background-color: bisque;
  max-width: 800px;
}

th, td {
background-color: lightblue;
font-size: 10;
border: 3px solid  white;
text-align: center;
}



.modulo{
font-size: 10;
text-align: center;
background-color: lightblue;
}

.tabela{
box-sizing: border-box;
margin: 0 auto;
font-size: 15;
text-align: justify;
text-align: center;
background-color: khaki;
}

.c{
box-sizing: border-box;
margin: 0 auto;
font-size: 15;
text-align: justify;
text-align: center;
background-color: khaki;
}

.ta{
box-sizing: border-box;
margin: 0 auto;
font-size: 15;
text-align: justify;
text-align: center;
background-color: khaki;
}

.md{
background-color: khaki;
font-size: 10;
text-align: justify;
text-align: center;
}

.video{
display: flex; 
text-align: center;
text-align: justify;
align-items: center;
justify-content: center;
}


input, button {
background-color: plum;
font-size: 10;
}


.ban{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1, h2{
background-color: lightblue;
font-size: 15;
text-align: justify;

}

.p{
background-color: lightblue;
font-size: 10;
text-align: justify;

}

.h3{
text-align: justify;
font-style: italic;
font-size: 1;
}

.texto{
text-align: justify;
font-size: 10;
}

.voltar{
background-color: lightblue;
font-size: 10;
text-align: center;
display: block; 
justify-content: center;
}










































